.project
.cproject
makefile
objects.mk
sources.mk
subdir.mk
/Debug/
/Release/
/.vs/
/x64/
*.d
*.o
*.a
*.obj
*.exe
*.lib
*.ilk
*.pch
*.pcb
*.dsp
*.dsw
*.aps
*.APS
*.pdb
*.plg
vc60.*
*.res
UpgradeLog.htm
UpgradeLog2.htm
sha2.sln
sha2.vcxproj
sha2.vcxproj.filters
sha2.vcxproj.user

